* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Microsoft JhengHei;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

::-webkit-scrollbar {
  display: none;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 10vh;
  padding: 0 10vw;
  background: #fff;
  color: #000044;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 9;
}

#navbar #title {
  float: left;
}

#navbar #title img {
  display: inline-block;
  height: 10vh;
  padding: 2vh 0;
}

#navbar #nav {
  float: right;
  height: 10vh;
}

#navbar #nav ul {
  list-style-type: none;
}

#navbar #nav ul a {
  text-decoration: none;
}

#navbar #nav ul a li {
  display: inline-block;
  width: 10vw;
  height: 10vh;
  color: #444;
  font-size: 1em;
  line-height: 10vh;
  text-align: center;
}

#wrapper {
  width: 100vw;
  height: 90vh;
  margin-top: 10vh;
  background: url("../img/wrapper.png") no-repeat center fixed;
  background-size: cover;
}

#wrapper #toNews {
  padding-top: 75vh;
  width: 100vw;
  text-align: center;
}

#wrapper #toNews a {
  color: #fff;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#wrapper #toNews a span {
  padding: 20px 30px;
  background: #444;
  border: 3px solid #444;
  border-radius: 1.5em;
  font-size: 1.5em;
  font-weight: 900;
}

#wrapper #toNews a span:hover {
  background: transparent;
  border: 3px solid #444;
  color: #444 !important;
  cursor: pointer;
}

#mainNews {
  width: 100vw;
  height: 90vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

#mainNews #subnav {
  width: 100vw;
  height: 15vh;
  padding: 3vh;
  background: #444;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#mainNews #subnav .navlies {
  display: inline-block;
  width: 16vw;
  height: 9vh;
  margin: 0 1vw;
  border-left: 8px double #fff;
  border-right: 8px double #fff;
  color: #fff;
  cursor: pointer;
  font-size: 1.5em;
  line-height: 4.5vh;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#mainNews #subnav .navlies .navliesEach {
  text-align: center;
}

#mainNews #subnav .navlies .navliesEach span:first-child {
  position: relative;
  left: 10px;
  font-weight: 900;
  letter-spacing: 10px;
}

#mainNews #subnav .active {
  background: #fff;
  border-left: 8px double #fff;
  border-right: 8px double #fff;
  color: #444;
}

#mainNews #newslist {
  padding-top: 10px;
}

#mainNews #newslist #newsSum {
  width: 100vw;
  padding: 2vh 0vw 2vh 5vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#mainNews #newslist #newsSum #circle {
  display: inline-block;
  width: 0;
  height: 0;
  border: 1vw solid #444;
  border-radius: 50%;
}

#mainNews #newslist #newsSum p {
  display: inline-block;
  width: 21vw;
  padding-left: 20px;
  font-size: 35px;
  letter-spacing: 10px;
}

#mainNews #newslist #newsSum #lineee {
  display: inline-block;
  width: 71vw;
  border: 2px solid #444;
}

#mainNews #newslist ul {
  padding-top: 6px;
  padding-left: 10vw;
  list-style-type: none;
}

#mainNews #newslist ul li {
  padding-top: 1vh;
}

#mainNews #newslist ul li .arrow {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 10px solid #444;
  border-bottom: 10px solid transparent;
  border-right: 10px solid transparent;
}

#mainNews #newslist ul li a {
  color: #444;
  font-size: 1.5em;
  font-weight: 900;
  letter-spacing: 7px;
  line-height: 40px;
  text-decoration: none;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 10vh;
  background: #444;
  color: #fff;
  font-size: 1.5em;
  line-height: 10vh;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
